table{
    border-collapse: collapse;
  }
  tbody td{
    background-color:rgba(137, 196, 244,0.3);
    border: 2px solid black;
  }
  th{
    background-color: #044F67;
    color: white;
    border: 2px solid black;
    padding: 0.3rem;
  }
  
  td{
    padding:0.5rem;
  }
  
  caption{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
  }
  
  tfoot td{
    text-align: left;
    background-color:rgba(93, 140, 174,0.5);
    border: 2px solid black;
  }
  
  tfoot tr td:first-child{
    border:none;
    background-color:white;
  }
  tfoot{
    border-top: 5px solid black;;
  }

  .tablescroll{
    overflow: auto;
  }

  @media (max-width: 600px) {
    table{
      border:none;
    }
    table,tr,td{
      display: block;
    }
    thead, th{
      display: none;
    }
    td:nth-child(1)::before{
      content:"Day: ";
    }
    td:nth-child(2)::before{
      content:"Date: ";
    }
    td:nth-child(3)::before{
      content:"Regular Hours: ";
    }
    td:nth-child(4)::before{
      content:"Overtime Hours: ";
    }
    td:nth-child(5)::before{
      content:"Sick Hours: ";
    }
    td:nth-child(6)::before{
      content:"Vacation Hours: ";
    }
    td:nth-child(7)::before{
      content:"Total Hours: ";
    }

    tfoot tr:first-child td:first-child::before{
      content:"Total hours in the following categories: ";
    }
    tfoot tr:nth-child(2) td:first-child::before{
      content:"Rates of pay in the following categories: ";
    }
    tfoot tr:nth-child(2) td:last-child{
      display:none;
    }
    tfoot tr:last-child td:last-child::before{
      content: "Total owed in the following categories: ";
    }
  }